.authWrapper {
    background: linear-gradient(178deg, rgba(201, 234, 252, 0.51) 14.9%, rgba(139, 192, 216, 0.73) 80%);
    height: 100%;
    width: 100%;
}

.authContentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    gap: 12px;
}

.authAppTitle {
    position: fixed;
    top: 0;
    left: 0;
    padding: 24px;
    display: flex;
    align-items: center;
    color: #6d9dc5;
    gap: 12px;
}

.authLogoImg {
    width: 40px;
    height: 30px;
}

.authFormModalWrapper {
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 12px;
    background-color: #6d9dc5;
    align-items: center;
}

.authCreateAccountTitle {
    color: white;
    font-weight: 600;
    margin-bottom: 30px;
}

.demoAccountTxt {
    color: rgb(0, 40, 40);
    cursor: pointer;
    font-size: 13.3333px;
    text-align: center;
    margin-bottom: 8px;
    text-decoration: underline;
}

.authFormWrapper {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.authForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.authLabel {
    font-weight: 500;
    height: 30px;
    display: flex;
    align-items: flex-end;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
    color: white;
}

.authRequireTag {
    color: rgb(255, 116, 116);
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

.authFormEmailInput, .authFormUserNameInput, .authFormPassWordInput {
    outline: none;
    padding: 12px 15px;
    border: 1px solid white;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}

.authFormEmailInput.field::placeholder, .authFormUserNameInput.field::placeholder, .authFormPassWordInput.field::placeholder {
    color: rgb(255, 0, 0);
}

.authFormEmailInput:focus, .authFormUserNameInput:focus, .authFormPassWordInput:focus {
    border-color: black;
}

.authConfirmBtn {
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 30px;
    padding: 16px;
    margin-top: 22px;
    background-color: #00406b;
    height: 48px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

.authConfirmBtn.authLoader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.authFormQuestion {
    margin-top: 12px;
    font-weight: 400;
    color: white;
}

.authFormRedirectLink {
    color: rgb(0, 40, 40);
    text-decoration: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

@media (max-width: 500px) {
    .authAppTitle {
        padding: 16px;
        font-size: calc(22px + (100vw - 500px) / 110);
    }
    .authFormModalWrapper {
        padding: calc(40px + (100vw - 500px) / 10);
    }
    .authCreateAccountTitle {
        font-size: calc(24px + (100vw - 500px) / 80);
        margin-bottom: calc(30px + (100vw - 500px) / 20);
    }
    .demoAccountTxt {
        font-size: calc(13.3333px + (100vw - 500px) / 110);
    }
    .authFormWrapper {
        width: calc(350px + (100vw - 500px) / 1.6);
    }
    .authLabel {
        font-size: calc(16px + (100vw - 500px) / 110);
        height: calc(30px + (100vw - 500px) / 110);;
    }
    .authFormEmailInput, .authFormUserNameInput, .authFormPassWordInput {
        font-size: calc(13.3333px + (100vw - 500px) / 110);
        padding-top: calc(12px + (100vw - 500px) / 100);
        padding-bottom: calc(12px + (100vw - 500px) / 100);
        padding-right: calc(15px + (100vw - 500px) / 100);
        padding-left: calc(15px + (100vw - 500px) / 100);
    }
    .authConfirmBtn {
        font-size: calc(13.3333px + (100vw - 500px) / 110);
        padding: calc(16px + (100vw - 500px) / 100);
        height: calc(48px + (100vw - 500px) / 30);
    }
    .authFormQuestion {
        font-size: calc(13.3333px + (100vw - 500px) / 110);
    }
}