.expenseTrackerWrapper {
    padding: 15px;
    height: 100%;
}

.expenseTrackerTopSection {
    height: 50%;
    width: 100%;
    display: flex;
}   

.expenseChartFilterWrapper {
    height: 100%;
    width: 50%;
}

.expenseChartWrapper {
    height: 100%;
    width: 50%;
}

.renderedExpensesWrapper {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.addExpenseWrapper {
    display: flex;
    justify-content: flex-end;
}

.addExpenseBtn {
    background-color: transparent;
    border: 2px solid #4b7090;
    color: #4b7090;
    padding: 10px 12px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.addExpenseBtn:hover {
    background-color: #4b7090;
    color: white;
}

.renderedExpensesHeader {
    display: flex;
    padding: 16px 0 16px 20px;
    background-color: #6d9dc5;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-right: 2px solid #6d9dc5;
    border-left: 2px solid #6d9dc5;
}

.renderedExpensesHeaderTitles {
    font-size: 14px;
    padding: 0 15px;
}

.renderedExpensesHeaderTitles.typeOfExpense {
    width: 220px;

}

.renderedExpensesHeaderTitles.amount {
    width: 160px;
}

.renderedExpensesHeaderTitles.date {
    width: 120px;
}

.renderedExpensesHeaderTitles.desc {
    width: 80px;
}

.renderedExpensesContent {
    height: 400px;
    border: 2px solid #6d9dc5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-y: scroll;
}

.renderedExpensesContent::-webkit-scrollbar {
    display: none;
}

.renderedExpenseContent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 20px;
    border-bottom: 1px solid rgba(109, 157, 197, 0.4);
}

.renderedExpenseContent:hover {
    background-color: #4b7090;
    color: white;
}

.renderedExpenseType, .renderedExpenseAmount, .renderedExpenseDate, .renderedExpenseDesc {
    font-size: 13px;
    padding: 12px 15px;
    min-height: 44px;
    display: flex;
    align-items: center;
}

.renderedExpenseType {
    width: 220px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-right: 1px solid rgba(109, 157, 197, 0.4);
}

.expenseDescriptionIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.renderedExpenseAmount {
    width: 160px;
    border-right: 1px solid rgba(109, 157, 197, 0.4);
}

.renderedExpenseDate {
    width: 120px;
    border-right: 1px solid rgba(109, 157, 197, 0.4);
}

.renderedExpenseDesc {
    width: 80px;
    display: flex;
    justify-content: center;
    padding: 12px 15px 12px 15px;
}



/* ADD EXPENSE MODAL */



.addExpenseModalWrapper, .expenseDescriptionModalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 1, 1, 0.5);
    z-index: 10;
}

.addExpenseModalContent {
    background-color: white;
    border-radius: 8px;
    padding: 30px;

}

.addExpenseModalTitle, .expenseDescriptionModalTitle {
    font-size: 22px;
    font-weight: 600;
    color: #6d9dc5;
    margin-bottom: 16px;
}

.addExpenseModalMainContent {
    display: flex;
    flex-direction: column;
}

.addExpenseTypeModalBtn {
    width: 360px;
    padding: 10px;
    outline: none;
    border: 1px solid black;
    display: flex;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.addExpenseTypeModalBtn.open {
    border-color: #6d9dc5;
    color: #6d9dc5;
}

.addExpenseModalAngleUpIcon {

}

.addExpenseModalAngleDownIcon {

}

.addExpenseTypeDropDownWrapper {
    width: 100%;
    position: absolute;
    top: 42px;
    right: 0;
    max-height: 220px;
    overflow-y: scroll;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.2);

}

.addExpenseTypeDropDownWrapper::-webkit-scrollbar {
    display: none;
}

.addExpenseDropDownItem {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    color: black;
}

.addExpenseDropDownItem:hover {
    background-color: #6d9dc5;
    color: white;
}

.addExpenseModalLabel, .expenseDescriptionLabel {
    height: 22px;
    margin-top: 22px;
    font-size: 14px;
}

.expenseRequireTag {
    color: red;
}

.addExpenseModalInput {
    width: 360px;
    padding: 10px;
    outline: none;
    border: 1px solid black;
    display: flex;
    border-radius: 4px;
}

.addExpenseModalInput.field::placeholder {
    color: red;
}

.addExpenseModalInput:focus {
    border-color: #6d9dc5;
}

.expenseDescriptionLabel {
    display: flex;
    justify-content: space-between;
}

.expenseDescriptionCharCount {
    font-size: 13px;
}

.expenseDescriptionCharCount.maxCount {
    color: red;
}

.expenseDescription, .expenseDescriptionModalDescription {
    resize: none;
    outline: none;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    height: 100px;
}

.expenseDescription::-webkit-scrollbar {
    display: none;
}

.expenseDescription:focus {
    border-color: #6d9dc5;
}

.addExpenseModalFooter, .expenseDescriptionModalFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.addExpenseModalCloseBtn, .addExpenseModalAddExpenseBtn, .expenseDescriptionModalCloseBtn {
    background-color: transparent;
    border: 2px solid #4b7090;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addExpenseModalCloseBtn, .expenseDescriptionModalCloseBtn {
    color: #4b7090;
    transition: all 0.2s ease-in-out;
}

.addExpenseModalCloseBtn:hover, .expenseDescriptionModalCloseBtn:hover {
    background-color: #4b7090;
    color: white;
}

.addExpenseModalAddExpenseBtn {
    min-width: 116px;
    background-color: #4b7090;
    color: white;
}



/* EXPENSE DESCRIPTION MODAL */



.expenseDescriptionModalContent {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
}

.expenseDescriptionModalTitle {
    
}

.expenseDescriptionModalDescription {
    width: 360px;
    min-height: 100px;
    height: fit-content;
}

.expenseDescriptionModalFooter {

}

.expenseDescriptionModalCloseBtn {

}