.mainWrapper {

}

.mainNavBar {
    width: 100%;
    background-color: #6d9dc5;
    position: relative;
    z-index: 2;
}

.mainNavBarContent {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.navBarLogoWrapper {
    display: flex;
    align-items: center;
    gap: 6px;
}

.navLogoImg {
    width: 50px;
    height: 40px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

.navAppTitle {
    color: rgb(255, 255, 255);
}

.navTitleSpecialColor {
    color: #a0e1f9;
}

.navBarUserSettingWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navUserSettingBtn {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    background-color: white;
    border: none;
    border-radius: 30px;
    gap: 6px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}

.navAngleUpIcon, .navAngleDownIcon {
    
}

.navUserSettingsModalWrapper {
    position: absolute;
    top: 36px;
    border-radius: 4px;
    right: 0;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    min-width: 110px;
    max-width: 110px;
    width: 100%;
}

.navUserSettingsModalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.userSettingsLogOutBtn {
    color: rgb(255, 119, 119);
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 28px;
}

.userSettingsLogOutBtn.logOutLoader {
    background-color: rgb(255, 119, 119);
}

.userSettingsLogOutBtn:hover {
    background-color: rgb(255, 119, 119);
    color: white;
}



/* MAIN CONTENT SECTION BELOW */



.mainContentWrapper {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 70px;
    min-height: 760px;
    max-height: 760px;
}

.renderedContentWrapper {
    width: 100%;
}

/* font-size: calc(12px + (100vw - 1536px) / 160); */

@media screen and (min-width: 1536.1px) and (max-width: 100vw) {
}

@media (max-width: 1536px) {
    .expenseTrackerWrapper {
        
    }
}

@media (max-width: 1000px) {
    .mainContentWrapper {
        height: fit-content;
        max-height: 1596px;
    }
}

@media (max-width: 500px) {
    .mainContentWrapper {
        height: fit-content;
        max-height: 1356px;
    }
    .navAppTitle {
        font-size: 22px;
    }
    .navLogoImg {
        width: 40px;
        height: 30px;
    }
    .navUserSettingBtn {
        font-size: 12px;
    }
    .navUserSettingsModalWrapper {
        padding: 3px;
    }
    .userSettingsLogOutBtn { 
        font-size: 12px;
        min-height: 27.2px;
    }
}