.deleteExpenseModalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 1, 1, 0.5);
    z-index: 10;
}

.deleteExpenseModalContent {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
}

.deleteExpenseModalTitle {
    font-size: 22px;
    font-weight: 600;
    color: #6d9dc5;
    margin-bottom: 16px;
}

.deleteExpenseModalMainContent {
    display: flex;
    flex-direction: column;
}

.deleteExpensesBtnLabel {
    height: 24px;
    margin-top: 4px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.deleteExpenseRedCount {
    color: red;
}

.deleteExpensesBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
    width: 600px;
    position: relative;
    cursor: pointer;
}

.deleteExpensesAngleUpIcon, .deleteExpensesAngleDownIcon {

}

.deleteExpensesRenderedExpensesWrapper {
    width: 100%;
    position: absolute;
    top: 42px;
    right: 0;
    max-height: 260px;
    overflow-y: scroll;
    background-color: white;
    border-radius: 4px;
    border: 1px solid black;
}

.deleteExpensesRenderedExpensesWrapper::-webkit-scrollbar {
    display: none;
}

.deleteModalRenderedItem {
    font-size: 13px;
    padding: 12px 15px;
    min-height: 44px;
    display: flex;
    align-items: center;
}

.deleteModalRenderedContent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 20px;
    border-bottom: 1px solid rgba(109, 157, 197, 0.4);
}

.deleteModalRenderedContent:hover {
    background-color: #4b7090;
    color: white;
}

.deleteModalRenderedContent.inArr {
    background-color: #6d9dc5;
    color: white;
}

.deleteModalRenderedContent.inArr:hover {
    background-color: #6d9dc5;
    color: white;
}

.deleteModalRenderedItem.type {
    width: 220px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-right: 1px solid rgba(109, 157, 197, 0.4);
}

.deleteModalRenderedDescIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.deleteModalRenderedItem.amount {
    width: 160px;
    border-right: 1px solid rgba(109, 157, 197, 0.4);
}

.deleteModalRenderedItem.date {
    width: 120px;
    border-right: 1px solid rgba(109, 157, 197, 0.4);
}

.deleteModalRenderedItem.desc {
    width: 80px;
    display: flex;
    justify-content: center;
    padding: 12px 15px 12px 15px;
}

.noExpensesTxt {
    font-size: 13px;
    padding: 12px 15px;
    min-height: 44px;
    display: flex;
    align-items: center;
}

.deleteExpenseModalFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.deleteExpensesCloseBtn, .deleteExpensesDeleteBtn {
    background-color: transparent;
    border: 2px solid #4b7090;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteExpensesCloseBtn {
    color: #4b7090;
    transition: all 0.2s ease-in-out;
}

.deleteExpensesCloseBtn:hover {
    background-color: #4b7090;
    color: white;
}

.deleteExpensesDeleteBtn {
    background-color: #4b7090;
    color: white;
    min-width: 72px;
}

.deleteExpenseBtn {
    background-color: transparent;
    border: 2px solid #4b7090;
    color: #4b7090;
    padding: 10px 12px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.deleteExpenseBtn {
    margin-left: auto;
}

.deleteExpenseBtn:hover {
    background-color: #4b7090;
    color: white;
}

@media (max-width: 700px) {
    .deleteExpensesBtn {
        width: calc(600px + (100vw - 700px) / 1);
    }
    .deleteModalRenderedContent {
        padding: 0;
    }
    .deleteModalRenderedItem {
        font-size: 10px;
        padding: 10px 12px;
    }
    .deleteModalRenderedDescIcon {
        width: 18px;
        height: 18px;
        cursor: pointer;
    }
}

@media (max-width: 500px) {
    .deleteExpenseBtn {
        font-size: calc(12px + (100vw - 500px) / 110);
        padding-top: calc(8px + (100vw - 500px) / 100);
        padding-bottom: calc(8px + (100vw - 500px) / 100);
        padding-right: calc(10px + (100vw - 500px) / 100);
        padding-left: calc(10px + (100vw - 500px) / 100);
    }
    .deleteExpenseModalContent {
        padding: calc(30px + (100vw - 500px) / 12.22222);
    }
    .deleteExpenseModalTitle {
        font-size: calc(20px + (100vw - 500px) / 50);
    }
    .deleteExpensesBtnLabel {
        font-size: calc(14px + (100vw - 500px) / 110);
        height: fit-content;
        flex-direction: column;
        margin-bottom: 4px;
    }
    .deleteExpensesBtn {
        width: calc(400px + (100vw - 500px) / 1.4);
        font-size: calc(13px + (100vw - 500px) / 110);
    }
    .deleteModalRenderedContent {
        padding: 0;
    }
    .deleteModalRenderedContent:hover {
        background-color: unset;
        color: unset;
    }
    .deleteModalRenderedItem {
        font-size: calc(9px + (100vw - 500px) / 200) !important;
        padding-right: calc(15px + (100vw - 500px) / 16) !important;
        padding-left: calc(15px + (100vw - 500px) / 16) !important;
        padding-top: calc(12px + (100vw - 500px) / 16) !important;
        padding-bottom: calc(12px + (100vw - 500px) / 16) !important;
        min-height: calc(44px + (100vw - 500px) / 16) !important;
    }
    .deleteModalRenderedDescIcon {
        width: calc(20px + (100vw - 500px) / 30);
        height: calc(20px + (100vw - 500px) / 30);
    }
    .deleteExpensesDeleteBtn, .deleteExpensesCloseBtn {
        font-size: calc(12px + (100vw - 500px) / 110);
        padding-top: calc(8px + (100vw - 500px) / 100);
        padding-bottom: calc(8px + (100vw - 500px) / 100);
        padding-right: calc(10px + (100vw - 500px) / 100);
        padding-left: calc(10px + (100vw - 500px) / 100);
    }
    .deleteExpensesDeleteBtn {
        min-width: calc(72px + (100vw - 500px) / 16);
    }
}