.expenseTrackerWrapper {
    padding: 16px;
    height: 100%;
    display: flex;
    gap: 16px;
}

.expenseTrackerSection {
    height: 100%;
    width: 600px;
    display: flex;
    flex-direction: column;
}   

.expenseChartFilterWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.expenseChartFilterTitle {
    font-size: 22px;
    font-weight: 600;
    color: #4b7090;
    margin-bottom: 16px;
}

.timeFilterWrapper {
    display: flex;
    flex-direction: column;
}

.timeFilterLabel {
    height: 24px;
    margin-top: 4px;
    font-size: 15px;
}

.timeFilterBtn {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.timeFilterAngleUpIcon, .timeFilterAngleDownIcon {

}

.timeFilterDropDownMenuWrapper {
    width: 100%;
    position: absolute;
    top: 42px;
    right: 0;
    max-height: 220px;
    overflow-y: scroll;
    background-color: white;
    border-radius: 4px;
    border: 1px solid black;
}

.timeFilterDropDownMenuWrapper::-webkit-scrollbar {
    display: none;
}

.timeFilterDropDownItem {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    color: black;
}

.timeFilterDropDownItem:hover {
    background-color: #6d9dc5;
    color: white;
}

.chatFilterExpenseTxt {
    margin-top: auto;
    margin-bottom: 12px;
}

.expenseSumTxt {
    color: #4b7090;
}

.renderedExpensesWrapper {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.expenseWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.expenseTitle {
    font-size: 22px;
    font-weight: 600;
    color: #6d9dc5;
}

.renderedExpensesHeader {
    display: flex;
    padding: 16px 0 16px 20px;
    background-color: #6d9dc5;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-right: 2px solid #6d9dc5;
    border-left: 2px solid #6d9dc5;
}

.renderedExpensesHeaderTitles {
    font-size: 14px;
    padding: 0 15px;
}

.renderedExpensesHeaderTitles.typeOfExpense {
    width: 220px;

}

.renderedExpensesHeaderTitles.amount {
    width: 160px;
}

.renderedExpensesHeaderTitles.date {
    width: 120px;
}

.renderedExpensesHeaderTitles.desc {
    width: 80px;
}

.renderedExpensesContent {
    height: 340px;
    border: 2px solid #6d9dc5;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-y: scroll;
}

.renderedExpensesContent::-webkit-scrollbar {
    display: none;
}

.renderedExpenseContent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 20px;
    border-bottom: 1px solid rgba(109, 157, 197, 0.4);
}

.renderedExpenseContent.inArr {
    background-color: #6d9dc5;
    color: white;
}

.renderedExpenseContent.inArr:hover {
    background-color: #6d9dc5;
    color: white;
}

.renderedExpenseContent:hover {
    background-color: #4b7090;
    color: white;
}

.renderedExpenseType, .renderedExpenseAmount, .renderedExpenseDate, .renderedExpenseDesc {
    font-size: 13px;
    padding: 12px 15px;
    min-height: 44px;
    display: flex;
    align-items: center;
}

.renderedExpenseType {
    width: 220px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-right: 1px solid rgba(109, 157, 197, 0.4);
}

.expenseDescriptionIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.renderedExpenseAmount {
    width: 160px;
    border-right: 1px solid rgba(109, 157, 197, 0.4);
}

.renderedExpenseDate {
    width: 120px;
    border-right: 1px solid rgba(109, 157, 197, 0.4);
}

.renderedExpenseDesc {
    width: 80px;
    display: flex;
    justify-content: center;
    padding: 12px 15px 12px 15px;
}



/* EXPENSE DESCRIPTION MODAL */



.expenseDescriptionModalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 1, 1, 0.5);
    z-index: 10;
}

.expenseDescriptionModalTitle {
    font-size: 22px;
    font-weight: 600;
    color: #6d9dc5;
    margin-bottom: 16px;
}

.expenseDescription, .expenseDescriptionModalDescription {
    resize: none;
    outline: none;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    height: 100px;
}

.expenseDescription::-webkit-scrollbar {
    display: none;
}

.expenseDescription:focus {
    border-color: #6d9dc5;
}

.expenseDescriptionModalFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.expenseDescriptionModalCloseBtn {
    background-color: transparent;
    border: 2px solid #4b7090;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expenseDescriptionModalCloseBtn {
    color: #4b7090;
    transition: all 0.2s ease-in-out;
}

.expenseDescriptionModalCloseBtn:hover {
    background-color: #4b7090;
    color: white;
}

.expenseDescriptionModalContent {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
}

.expenseDescriptionModalTitle {
    
}

.expenseDescriptionModalDescription {
    width: 360px;
    min-height: 100px;
    height: fit-content;
}

.expenseDescriptionModalFooter {

}

.expenseDescriptionModalCloseBtn {

}



/* CHARTS SECTION */



.expenseChartSection {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.expenseChartWrapper {
    padding: 0 15px;
    min-height: 280px;
    width: 100%;
}

.expensePieChartWrapper {
    padding: 0 15px;
    height: 100%;
    width: 100%;
}

.expensePieChartWrapper.empty {
    visibility: hidden;
}