.viewExpensesWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 1, 1, 0.5);
    z-index: 10;
}

.viewExpensesContent {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
}

.viewExpensesTitle {
    font-size: 22px;
    font-weight: 600;
    color: #6d9dc5;
    margin-bottom: 16px;
}

.viewExpensesMainContent {

}

.allBudgetExpensesWrapper {
    height: 300px;
    border: 2px solid #6d9dc5;
    border-radius: 10px;
    overflow-y: scroll;
    width: 600px;
}

.allBudgetExpensesWrapper::-webkit-scrollbar {
    display: none;
}

.renderedBudgetExpenseWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 20px;
    border-bottom: 1px solid rgba(109, 157, 197, 0.4);
}

.renderedBudgetExpense {
    font-size: 13px;
    padding: 12px 15px;
    min-height: 44px;
    display: flex;
    align-items: center;
}

.renderedBudgetExpense.type {
    width: 220px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-right: 1px solid rgba(109, 157, 197, 0.4);
}

.renderedBudgetExpense.amount {
    width: 160px;
    border-right: 1px solid rgba(109, 157, 197, 0.4);
}

.renderedBudgetExpense.date {
    width: 120px;
    border-right: 1px solid rgba(109, 157, 197, 0.4);
}

.renderedBudgetExpense.desc {
    width: 80px;
    display: flex;
    justify-content: center;
}

.viewExpenseDescIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.viewExpensesFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.viewExpensesBtn {
    background-color: transparent;
    border: 2px solid #4b7090;
    color: #4b7090;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.viewExpensesBtn:hover {
    background-color: #4b7090;
    color: white;
}

.viewExpenseDescriptionModalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 1, 1, 0.5);
    z-index: 20;
}

.viewExpenseDescriptionModalContent {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
}

.viewExpenseDescriptionModalTitle {
    font-size: 22px;
    font-weight: 600;
    color: #6d9dc5;
    margin-bottom: 16px;
}

.viewExpenseDescriptionModalDescription {
    resize: none;
    outline: none;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    width: 360px;
    min-height: 100px;
    height: fit-content;
}

.viewExpenseDescriptionModalFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.viewExpenseDescriptionModalCloseBtn {
    background-color: transparent;
    border: 2px solid #4b7090;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4b7090;
    transition: all 0.2s ease-in-out;
}

.viewExpenseDescriptionModalCloseBtn:hover {
    background-color: #4b7090;
    color: white;
}

@media (max-width: 700px) {
    .allBudgetExpensesWrapper {
        width: calc(600px + (100vw - 700px) / 1);
    }
    .renderedBudgetExpenseWrapper {
        padding: 0;
    }
    .renderedBudgetExpense {
        font-size: 10px;
        padding: 10px 12px;
    }
    .viewExpenseDescIcon {
        width: 18px;
        height: 18px;
        cursor: pointer;
    }
}

@media (max-width: 500px) {
    .viewExpensesContent {
        padding: calc(30px + (100vw - 500px) / 12.22222);
    }
    .viewExpensesTitle {
        font-size: calc(20px + (100vw - 500px) / 50);
    }
    .allBudgetExpensesWrapper {
        width: calc(400px + (100vw - 500px) / 1.4);
        font-size: calc(13px + (100vw - 500px) / 110);
    }
    .renderedBudgetExpense {
        font-size: calc(10px + (100vw - 500px) / 100) !important;
        padding-right: calc(12px + (100vw - 500px) / 22.5) !important;
        padding-left: calc(12px + (100vw - 500px) / 22.5) !important;
        padding-top: calc(10px + (100vw - 500px) / 22.5) !important;
        padding-bottom: calc(10px + (100vw - 500px) / 22.5) !important;
        min-height: calc(44px + (100vw - 500px) / 22.5) !important;
    }
    .viewExpenseDescIcon {
        width: calc(20px + (100vw - 500px) / 30);
        height: calc(20px + (100vw - 500px) / 30);
    }
    .viewExpensesBtn {
        font-size: calc(12px + (100vw - 500px) / 110);
        padding-top: calc(8px + (100vw - 500px) / 100);
        padding-bottom: calc(8px + (100vw - 500px) / 100);
        padding-right: calc(10px + (100vw - 500px) / 100);
        padding-left: calc(10px + (100vw - 500px) / 100);
    }


    .viewExpenseDescriptionModalContent {
        padding: calc(30px + (100vw - 500px) / 12.22222);
    }
    .viewExpenseDescriptionModalTitle {
        font-size: calc(20px + (100vw - 500px) / 50);
    }
    .viewExpenseDescriptionModalDescription {
        width: calc(360px + (100vw - 500px) / 1.8);
        font-size: calc(12px + (100vw - 500px) / 110);
    }
    .viewExpenseDescriptionModalCloseBtn {
        font-size: calc(12px + (100vw - 500px) / 110);
        padding-top: calc(8px + (100vw - 500px) / 100);
        padding-bottom: calc(8px + (100vw - 500px) / 100);
        padding-right: calc(10px + (100vw - 500px) / 100);
        padding-left: calc(10px + (100vw - 500px) / 100);
    }
}